<div class="testimonial">
  <picture>
    <source
  type="image/png"
  srcset="images/okon.png 1x, images/okon@2x.png 2x"
/>
    <img src="images/okon.png" class="testimonial__image" alt="A happy, smiling customer" />
  </picture>
  <p class="testimonial__body">
    I got in contact with Ifeanyi U. for my design project and I was wowed with the results. From then on I have been hugely impressed with his professionalism and skills. His expertise is top-notched. I highly recommend him.
  </p>
  <p class="testimonial__author">
    Idorenyin Okon
  </p>
  <p class="testimonial__company">
    Founder IdRatios | Accountant
  </p>
  <svg class="icon testimonial__rating">
    <use xlink:href="images/sprite.svg#star rating"></use>
  </svg>
</div>
